* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color: #1E293B;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #0F172A;
  margin: 5%;
  padding: 2%;
  border-radius: 50px;
}
